* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  background-image: url("/img/bar_pictures.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

@media (max-width: 768px) {
  body {
    background: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  body {
    height: 100vh;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .nav-container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 21px 8px rgba(255, 255, 255, 0.42);
          box-shadow: 0px 0px 21px 8px rgba(255, 255, 255, 0.42);
  width: 100%;
}

.nav .nav-container .nav__links-container .nav__links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav .nav-container .nav__links-container .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.nav .nav-container .nav__links-container .nav__links .nav__link-item {
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .nav .nav-container .nav__links-container .nav__links .nav__link-item {
    padding: 2rem 1rem;
    font-size: 20px;
  }
}

.nav .nav-container .nav__links-container .nav__links .nav__link-item a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav .nav-container .nav__links-container .nav__links .nav__link-item a:hover {
  color: burlywood;
}

@media (max-width: 768px) {
  .nav {
    height: 100vh;
    background-color: black;
    display: none;
  }
}

.logo-container-mobile {
  display: none;
}

@media (max-width: 768px) {
  .logo-container-mobile {
    display: none;
  }
}

.main-footer-container {
  width: 100%;
  margin: 0 auto;
}

.main-footer-container .container .main-header {
  text-align: center;
  padding-top: 2rem;
  color: white;
  font-size: 24px;
}

@media (max-width: 768px) {
  .main-footer-container .container .main-header {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .main-footer-container .container .main-header {
    font-size: 12px;
  }
}

.main-footer-container .container .main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2.5rem;
}

@media (max-width: 768px) {
  .main-footer-container .container .main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-footer-container .container .main-card .main-card__ingredients {
  background-color: whitesmoke;
  width: 45%;
  padding: 1.5rem;
  height: 55vh;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 15px;
  position: relative;
}

@media (max-width: 768px) {
  .main-footer-container .container .main-card .main-card__ingredients {
    width: 90%;
  }
}

.main-footer-container .container .main-card .main-card__ingredients .main-card__ingredients--selected {
  margin-top: 1rem;
  overflow-y: auto;
  height: 30vh;
}

.main-footer-container .container .main-card .main-card__ingredients .main-card__ingredients--selected .main-card__ingredients-list {
  height: 10%;
  padding: 0;
}

.main-footer-container .container .main-card .main-card__ingredients .operation-btns {
  position: absolute;
  bottom: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-footer-container .container .main-card .main-card__ingredients .operation-btns .submit-search {
  border: 1px solid firebrick;
  border-radius: 10px;
  background-color: lemonchiffon;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 0.5rem;
  cursor: pointer;
}

.main-footer-container .container .main-card .main-card__ingredients .operation-btns .submit-search:hover {
  border: 1px solid white;
  background-color: firebrick;
  color: white;
}

.main-footer-container .container .main-card .main-card__ingredients .operation-btns .clear-ingredients {
  border: 1px solid firebrick;
  border-radius: 10px;
  background-color: lemonchiffon;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 0.5rem;
  cursor: pointer;
}

.main-footer-container .container .main-card .main-card__ingredients .operation-btns .clear-ingredients:hover {
  border: 1px solid white;
  background-color: firebrick;
  color: white;
}

@media (max-width: 768px) {
  .main-footer-container .container .main-card .main-card__ingredients {
    width: 80%;
    margin: 0 auto;
  }
}

.main-footer-container .container .main-card .main-card__drinks-display {
  background-color: whitesmoke;
  width: 45%;
  padding: 1.5rem;
  height: 55vh;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .main-footer-container .container .main-card .main-card__drinks-display {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .main-footer-container .container .main-card .main-card__drinks-display {
    width: 80%;
    margin: 2rem auto;
  }
}

.main-footer-container .container .main-card .main-card__drinks-display p {
  margin: 0;
}

.main-footer-container footer p {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 12px;
  text-align: center;
  padding: 5% 0 0 0;
}

@media (max-width: 768px) {
  .main-footer-container footer p {
    font-size: 10px;
  }
}

.ingredient-component {
  padding: 0.5rem;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.ingredient-component:nth-child(odd) {
  background-color: linen;
}

.ingredient-component:hover {
  background-color: lightgray;
}

.ingredient-component img {
  height: 100px;
}

.ingredient-component .delete-ingredient {
  background-color: firebrick;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-right: 0.7rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.ingredient-component .delete-ingredient::before {
  content: "X";
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -50%;
  left: 5%;
}
/*# sourceMappingURL=styles.css.map */